# Игнорировать все файлы, связанные с виртуальными окружениями
venv/
*.pyc
*.pyo
*.pyd
__pycache__/

# Игнорировать файл с секретным ключом (например, .env)
.env

# Игнорировать папки с промежуточными файлами
*.log

# Игнорировать папку с данными базы данных SQLite (если используете SQLite)
db.sqlite3

# Игнорировать папки с медиа- и статическими файлами, если они генерируются динамически
media/
static/

# Игнорировать Docker-related файлы, если они не нужны в контейнере
docker-compose.override.yml
*.swp
.DS_Store
.idea/
.vscode/

# Игнорировать тесты и документацию
tests/
*.md
